<a href="https://colab.research.google.com/github/SanjanaA01/Projects/blob/main/AprioriAlgorith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student : Arora, Sanjana (V00966221)

Question 3.2

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
!pip3 install apyori
from apyori import apriori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5975 sha256=f96d04a727f4d29120ed51f69e815cae5216329086a8ac42d1e3a2701b318684
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

Please upload the online retail dataset provided in the Zip file

In [ ]:
df = pd.read_excel('Online Retail.xlsx')

In [ ]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df.shape

(541909, 8)

In [ ]:
np.unique(df['Country'], return_counts= True)

(array(['Australia', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Canada',
        'Channel Islands', 'Cyprus', 'Czech Republic', 'Denmark', 'EIRE',
        'European Community', 'Finland', 'France', 'Germany', 'Greece',
        'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lebanon',
        'Lithuania', 'Malta', 'Netherlands', 'Norway', 'Poland',
        'Portugal', 'RSA', 'Saudi Arabia', 'Singapore', 'Spain', 'Sweden',
        'Switzerland', 'USA', 'United Arab Emirates', 'United Kingdom',
        'Unspecified'], dtype=object),
 array([  1259,    401,     19,   2069,     32,    151,    758,    622,
            30,    389,   8196,     61,    695,   8557,   9495,    146,
           288,    182,    297,    803,    358,     45,     35,    127,
          2371,   1086,    341,   1519,     58,     10,    229,   2533,
           462,   2002,    291,     68, 495478,    446]))

Since, the below code for making lists of list of the dataframe takes a very long time to complete, I used the data of only 5 countries to demonstrate what I have learned

In [ ]:
np.unique(df['Country'], return_counts= True)

(array(['Australia', 'Austria', 'Bahrain', 'Belgium', 'Canada',
        'Channel Islands', 'Cyprus', 'Denmark', 'EIRE',
        'European Community', 'Finland', 'France', 'Germany', 'Greece',
        'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lithuania',
        'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal',
        'Saudi Arabia', 'Singapore', 'Spain', 'Sweden', 'Switzerland',
        'USA', 'United Kingdom', 'Unspecified'], dtype=object),
 array([  1259,    401,     19,   2069,    151,    758,    622,    389,
          8196,     61,    695,   8557,   9495,    146,    288,    182,
           297,    803,    358,     35,    127,   2371,   1086,    341,
          1519,     10,    229,   2533,    462,   2002,    291, 495478,
           446]))

In [ ]:
df2 = df[(df['Country'] == 'Canada') | (df['Country'] == 'Sweden') | (df['Country'] == 'Bahrain') | (df['Country'] == 'Israel') | (df['Country'] == 'Norway')].copy()

In [ ]:
df2.drop(['InvoiceNo', 'Description','Quantity', 'InvoiceDate','UnitPrice',], axis=1)

       StockCode  CustomerID Country
1236       84692     12433.0  Norway
1237       22444     12433.0  Norway
1238       22899     12433.0  Norway
1239       21156     12433.0  Norway
1240       22556     12433.0  Norway
...          ...         ...     ...
540357     23358     12433.0  Norway
540358     23293     12433.0  Norway
540359     23243     12433.0  Norway
540360     23240     12433.0  Norway
540450     23571     12433.0  Norway

[2015 rows x 3 columns]

In [ ]:
# Data preprocessing
records = []
for i in range(0, 2015 ):
    records.append([str(df2.values[i,j]) for j in range(0, 3)])

In [ ]:
association_rules = apriori(records, min_support=0.005, min_confidence=1, min_lift=3, min_length=2)
association_results = list(association_rules)

**Top 5 associations**

In [ ]:
association_results

[RelationRecord(items=frozenset({'21731', 'RED TOADSTOOL LED NIGHT LIGHT'}), support=0.005459057071960298, ordered_statistics=[OrderedStatistic(items_base=frozenset({'21731'}), items_add=frozenset({'RED TOADSTOOL LED NIGHT LIGHT'}), confidence=1.0, lift=183.1818181818182), OrderedStatistic(items_base=frozenset({'RED TOADSTOOL LED NIGHT LIGHT'}), items_add=frozenset({'21731'}), confidence=1.0, lift=183.1818181818182)]),
 RelationRecord(items=frozenset({'REGENCY CAKESTAND 3 TIER', '22423'}), support=0.007444168734491315, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22423'}), items_add=frozenset({'REGENCY CAKESTAND 3 TIER'}), confidence=1.0, lift=134.33333333333334), OrderedStatistic(items_base=frozenset({'REGENCY CAKESTAND 3 TIER'}), items_add=frozenset({'22423'}), confidence=1.0, lift=134.33333333333334)]),
 RelationRecord(items=frozenset({'SET OF 3 CAKE TINS PANTRY DESIGN ', '22720'}), support=0.010421836228287842, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22720'}), items_add=frozenset({'SET OF 3 CAKE TINS PANTRY DESIGN '}), confidence=1.0, lift=95.95238095238095), OrderedStatistic(items_base=frozenset({'SET OF 3 CAKE TINS PANTRY DESIGN '}), items_add=frozenset({'22720'}), confidence=1.0, lift=95.95238095238095)]),
 RelationRecord(items=frozenset({'SET OF TEA COFFEE SUGAR TINS PANTRY', '23243'}), support=0.005459057071960298, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23243'}), items_add=frozenset({'SET OF TEA COFFEE SUGAR TINS PANTRY'}), confidence=1.0, lift=183.1818181818182), OrderedStatistic(items_base=frozenset({'SET OF TEA COFFEE SUGAR TINS PANTRY'}), items_add=frozenset({'23243'}), confidence=1.0, lift=183.1818181818182)]),
 RelationRecord(items=frozenset({'POST', 'POSTAGE'}), support=0.022332506203473945, ordered_statistics=[OrderedStatistic(items_base=frozenset({'POST'}), items_add=frozenset({'POSTAGE'}), confidence=1.0, lift=44.77777777777778), OrderedStatistic(items_base=frozenset({'POSTAGE'}), items_add=frozenset({'POST'}), confidence=1.0, lift=44.77777777777778)])]