In [38]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-RU42OJI/NETFLIX_db?driver=SQL+SERVER')
conn = engine.connect()

In [20]:
import pandas as pd
import os

path = os.getcwd() + '/' + 'netflix_titles.csv'
print(path)

C:\Users\Sanjana\Desktop\git\Projects/netflix_titles.csv

In [33]:
df = pd.read_csv(path)

In [39]:
df.to_sql('netflix_raw', con = conn, index = False, if_exists = 'append')
conn.close()

In [27]:
df[df.show_id == 's5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [28]:
max(df.show_id.str.len())

5

In [29]:
max(df.title.str.len())

104

In [31]:
max(df.listed_in.str.len())

79

In [41]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64